language: node_js
node_js:
- '0.12'
branches:
  only:
  - master
  - develop
script:
- npm test
deploy:
  provider: npm
  email: dev@developmentseed.org
  api_key:
    secure: F3vN2sXoNqhtX6LqF+K9bvlRm+ZKa7mfL80HC6uBPmUntPvuopfIL+HzcnTsjS+rCw76B89cARUyE+2ezc8MPVRiMP5lu432DU4y/gvomO/6z+YSt5v1By9ewJVx6sveOKZeQt8I+PqUvi1544M3MI5kZwoerv8eQpfPcaY7t6Rtq8hdDMQAc9Lo/icTqFbXscWWAUJG5PD/qcY7d+Rhpa50IcwWDcWhPmsxjuRRcJi7azu4mDxUiBoNoTupGflz5+3va3mNXZwo2M4v+KAra8dMzpRjORatz750hIgoe+UUeRERNYy4uk3v18qDpBzU0EjOccUtEpkUkhmaiJH01OCTTora/ZoeGQqVdwnKTO+sGyb3xj3wL++CFQPuJ5BH8G8gb2Sim6XjmZ4lxT3iW/bUBQms+1IHtAQBb/mqx0bSHRITRxZZOi6D8x943Iz/8ZTntmUj2Zt05b7agzOKF+74guImrJqYV1VWSZawkvW0mpA2NP3xlRWp8C6yqcyhW2VJhAoqFEfXKB0ausW+vPQ/jLHeg4jqNsUJlex5XV+WxZC5mPlUIdld+Pd+TZWaMu6xmuxNa1p8gjfS03xlKOuijXU5ou41M4XE4TGEDo0WDeiwkYrjN2O6kSMiTjTz8EbmJzQoEUZQCGqALgo2omInKUUXhGnjGUESqXZ/Jgc=
  on:
    repo: developmentseed/hapi-paginate
    branch: master
